{% extends "base.html" %}

{% block title %}Productos{% endblock %}

{% block content %}
{% load static %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Nuestros Productos</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}"
                    style="object-fit: cover; width: 100%; height: 60%;">
                {% else %}
                <img src="{% static 'images/default-product-img.svg' %}" class="img-fluid" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>Precio:</strong> ${{ product.price }}</p>
                    {% if product.available %}
                    <p class="text-success">Disponible</p>
                    <form action="{% url 'add_product' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{ product.id }}">
                        <button type="submit" class="btn btn-primary"
                            style="background-color: #8B4513; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; font-size: 16px; cursor: pointer; width: 100%;">Agregar
                            al carrito</button>
                    </form>
                    {% else %}
                    <p class="text-danger">No disponible</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}